version: "3.9"

services:

  app:
    build: .
    container_name: transflow-app
    restart: unless-stopped
    env_file: .env
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
    depends_on:
      - rabbitmq
      - mongo
      - redis
      

  consumer:
    build: .
    container_name: transflow-consumer
    restart: unless-stopped
    env_file: .env
    command: python src/consumer.py
    depends_on:
      - rabbitmq
      - redis
      - mongo
    volumes:
      - ./src:/app/src

  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

volumes:
  mongo_data:
